<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2JAeZFAlo0Jcvz_4hDHnIbvb2y0PCLME</string>
	<key>GCM_SENDER_ID</key>
	<string>287725636744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialskills</string>
	<key>PROJECT_ID</key>
	<string>socialskills-66a88</string>
	<key>STORAGE_BUCKET</key>
	<string>socialskills-66a88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287725636744:ios:8941df7641628ce69da33d</string>
</dict>
</plist>